body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 30px;
}

h1{
    color: #333;
    text-align: center;
}

#resultado{
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    width: 350px;
    margin: 20px auto;
}

button{
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: 0.2s;
}

button:hover{
    background-color: #0056b3;
}